window {
    margin: 0px;
    border: 5px solid #181926;
    background-color: rgba(24, 25, 38, 1.0);
  }
  
  @keyframes gradient_f {
      0% {
          background-position: 0% 200%;
      }
      50% {
          background-position: 200% 0%;
      }
      100% {
          background-position: 400% 200%;
      }
  }
  
  #input {
    all: unset;
    min-height: 36px;
    padding: 4px 10px;
    margin: 4px;
    border: none;
    color: #cad3f5;
    font-weight: bold;
    background-color: #1e2030;
    outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
  }
  
  #inner-box {
    margin: 4px;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
  }
  
  #outer-box {
    margin: 0px;
    padding: 3px;
    border: none;
    border: 5px solid #1e2030;
  }
  
  #scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
  }
  
  #text:selected {
    color: #1e2030;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
  }
  
  #entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
  }
  
  #entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    /* background: linear-gradient(90deg, #7dc4e4 0%, #f5bde6 100%); */
    background: radial-gradient(circle, rgba(138, 173, 244,1) 0%, rgba(138, 173, 244,1) 12%, rgba(145, 215, 227,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(138, 173, 244,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(125, 196, 228,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(139, 213, 202,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(73, 77, 100,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); 
    background-size: 400% 400%;
    animation: gradient_f linear infinite;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-duration: 10.0s;
  }
  