* {
  min-height: 0;
  font-family: Jost;
  font-size: 16px;
  font-weight: 500
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: rgba(24, 24, 37, 0.6);
}

window#waybar.hidden {
  opacity: 1
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 4px 14px;
  min-height: 0;
  margin: 0px 4px;
  border-radius: 6px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #89b4fa;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#battery,
#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#cpu,
#tray,
#window,
#memory {
  min-height: 0;
  padding: 4px 10px;
  border-radius: 6px;
  margin: 0px 4px;
  background-color: #1e1e2e;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

#cpu {
  color: #94e2d5;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #89b4fa;
}

#clock.date {
  color: #74c7ec;
}

#window {
  color: #a6e3a1;
}

#pulseaudio {
  color: #b4befe;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#custom-logo {
  color: #89b4fa;
}

#custom-power{
  color: #f38ba8;
  padding-right: 8px;
  font-size: 14px;
}

#battery{
  color: #f38ba8;
  padding-right: 8px;
  font-size: 14px;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

tooltip {
  border-radius: 6px;
}
